@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,200;1,400;1,500&family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Prata", serif;
  list-style: none;
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.most__luxury {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1440px;
  // margin: 10em 10em;
  padding-top: 8em;
}
.most__luxury__right {
  width: 50%;
}
.most__luxury__left__img {
  width: 100%;
}

.most__luxury__left {
  width: 50%;
  align-items: center;
  justify-content: center;
}
.most__luxury__left__img {
  padding-left: 5em;
}
.most__luxury__right__main__heading {
  font-size: 52px;
  font-weight: 400;
  width: 90%;
}
.most__luxury__right__para {
  font-family: "Montserrat";
  color: #4d4c4c;
  line-height: 22.4px;
  padding: 2em 0em;
}
.most__luxury__right__main__heading span {
  color: #105a4e;
}
.most__luxury__right__button {
  background-color: #ebb93b;
  font-weight: 600;
  font-family: "Montserrat";
  font-size: 14px;
  width: fit-content;
  padding: 1em 3em;
  color: white;
}
.most__luxury__right__pics {
  display: flex;
  margin: 0em 3em;
}
.most__luxury__right__picture {
  padding-right: 2em;
  margin-top: 4em;
}
.our__best__luxury {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1440px;
  padding-top: 15em;
  padding-bottom: 15em;
}

.our__best__luxury__card {
  display: flex;
  padding: 0.7em 0em;
  align-items: center;
  background-color: #f4f4f4;
  max-width: 630px;
}

.our__best__luxury__right {
  width: 50%;
}
.our__best__luxury__left {
  width: 50%;
}
.our__best__luxury__right__img {
  margin-top: 12em;
  position: relative;
}
.our__best__luxury__right__img::before {
  content: "";
  background-color: #ebb93b;
  right: 0;
  top: -2.8em;
  bottom: -7em;
  z-index: -999;

  position: absolute;
  width: 130px;
  height: 120px;
}
.our__best__luxury__left__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  font-family: "Montserrat";
  color: #1f1f1f6b;
  margin: 1em 0em;
}
.our__best__luxury__card__right {
  width: fit-content;
}
.our__best__luxury__card__right {
  flex-direction: column;
  padding: 0em 2em;
}
.our__best__luxury__card__right__para {
  color: #4d4c4c;
  font-family: "Montserrat";
  font-size: 14px;
  width: 80%;
}
.our__best__luxury__card__right__text {
  font-size: 20px;
  font-family: "El Messiri", prata;
  font-weight: 600;
  line-height: 30px;
  color: #000000;
}
.our__best__luxury__left__heading {
  font-family: "El Messiri", prata;
  font-weight: 600;
  font-size: 56px;
  line-height: 60px;
  width: 90%;
  margin-bottom: 1em;
}
.our__best__luxury__left__heading span {
  color: #105a4e;
}
.our__project {
  display: flex;
}
.our__project__left {
  width: 35%;
  display: flex;
  justify-content: center;
}
.our__project__left__heading {
  font-family: "prata";
  font-size: 42px;
  margin-top: 4em;
}
.our__project__left__heading span {
  color: #105a4e;
}
.our__project__right {
  width: 65%;
}

.swiper-pagination-bullet swiper-pagination-bullet-active {
  background-color: red !important;
  color: red !important;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: #ededed !important;
  width: 50px !important;
  height: 50px !important;
  color: #ebb93b !important;
  padding: 1em !important;
  border-radius: 5px !important;
  margin-left: 2em !important;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  scale: 0.5;
}
.swiper-button-disabled {
  background-color: #1f4149 !important;
}
.swiper-pagination-bullet-active {
  background-color: #ebb93b !important;
  width: 20px !important;
  border-radius: 20px !important;
}
@media (max-width: 1450px) {
  .most__luxury__right {
    margin: 2em;
  }
}
@media (max-width: 1350px) {
  .most__luxury__right {
    margin: 2em;
  }
  .most__luxury__left__img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .most__luxury__right__pics {
    display: flex;
    justify-content: center;
  }
  .most__luxury__left__image {
    width: 100%;
    max-height: 500px;
    max-width: 490px;
    margin: 0em 3em;
  }
  .most__luxury__right__picture__img {
    width: 100%;
    max-height: 200px;
    max-width: 300px;
  }
  .most__luxury__left__img {
    padding-left: 0em;
  }
  .most__luxury {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .most__luxury__left {
    width: 100%;
  }
  .most__luxury__right {
    width: 100%;
  }
  .most__luxury__right__para {
    width: 80%;
    justify-content: center !important;
    align-items: center !important;
    margin: 0 auto;
  }
  .most__luxury__right__button {
    margin: 0 auto;
  }
  .most__luxury__right__main__heading {
    font-size: 45px;
    width: 90%;
    text-align: center;
    margin: 0 auto !important;
  }
}

@media (max-width: 950px) {
  .most__luxury__right__main__heading {
    font-size: 40px;
  }
}
@media (max-width: 850px) {
  .right__main__heading {
    font-size: 32px;
  }
}
@media (max-width: 670px) {
  .most__luxury__right__main__heading {
    font-size: 28px;
  }
}
@media (max-width: 500px) {
  .most__luxury__right__para {
    width: 90%;
  }
  .most__luxury__left__image {
    width: 90%;
    max-height: 400px;
    max-width: 350px;
    margin: 0em 3em;
  }
  .most__luxury__right__picture__img {
    width: 100%;
    max-height: 300px;
    max-width: 350px;
  }
  .most__luxury__right__pics {
    flex-direction: column;
    margin: 0em 1em;
    align-items: center;
  }
}
